In [ ]:
import pandas as pd
import seaborn as sns
import mysql.connector
import matplotlib.pyplot as plt


# Connect to the MySQL database
db = mysql.connector.connect(
    host='localhost',
    user='root',
    password='shubhamdb2002',
    database='eccomerce'
)
cursor = db.cursor()

# query

 # list all unique cities where customers are located

In [ ]:
query= """ select distinct customer_city from customers"""

cursor.execute(query)
data=cursor.fetchall()
data

#   count the number of orders placed in 2017

In [ ]:
query= """ select count(order_id) as total_orders from orders where year(order_purchase_timestamp)=2017"""

cursor.execute(query)
data=cursor.fetchall()
"total orders placed in 2017 are:",data[0][0]

# find total sales per category

In [ ]:
query= """ select products.productcategory, round(sum( payments.payment_value),2) from payments 
           join order_items  on payments.order_id=order_items.order_id
           join products on products.product_id=order_items.product_id
           group by products.productcategory """
cursor.execute(query)
data=cursor.fetchall()
df= pd.DataFrame(data)
df